<!-- </html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Email</title>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-messaging.js"></script>
</head>
<body>
    <h2>Email Confirmation</h2>
    <p>Your email: <strong id="user-email"></strong></p>
    <p>Your Email has been confirmed you can close this window.</p>
</body>
<script type="module" src="static\confirm.js"></script>
</html>
